/* Aturan CSS Khusus untuk Pencetakan Printer Thermal */
@media print {
    body * { 
        visibility: hidden; 
    }
    #areaNota, #areaNota * { 
        visibility: visible; 
    }
    #areaNota { 
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%; 
        font-family: monospace; 
        color: #000;
    }
}